<script setup>
import { version } from '../../package'
</script>

<template>
  <div class="about">
    <h1>About</h1>

    <p>
      Simple vuejs + vite app to display 3d models by using Googles model-viewer. 3d models created
      by
      <a href="https://firefightervision.com" target="_blank">Firefighter Vision</a>.
    </p>
    <p>App version: {{ version }}</p>
    <p>
      Repository:
      <a href="https://gitlab.com/firefighter-vision/vuejs-model-viewer" target="_blank">
        vuejs-model-viewer
      </a>
    </p>
    <br />
    <p>
      © All 3d models featured in this project belong to Firefighter Vision. All rights reserved.
    </p>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    /* min-height: 100vh; */
    display: block;
    /* align-items: center; */
  }
}
</style>
