<script>
import { modelStore } from '@/stores/modelStore'
import ModelDemo from '../components/ModelDemo.vue'
export default {
  name: 'project-view',
  setup() {
    const store = modelStore()
    return {
      store
    }
  },
  data() {
    return {
      projectFilterId: -1 // to filter for projects
    }
  },
  components: { ModelDemo },
  watch: {
    '$route.params.projectPath': {
      handler: function (projectPath) {
        const project = this.store.projects.find((project) => project.path == projectPath)
        this.projectFilterId = project.id
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<template>
  <ModelDemo :filterId="projectFilterId" />
</template>

<style scoped></style>
