<!-- eslint-disable vue/no-deprecated-slot-attribute -->
<template>
  <h1>Firetruck Scania P124 Inventory Progress</h1>
  <p>
    Our goal is to replicate the firetruck and it's equipment in 3D and put them into a VR app. This
    model helps to keep track of the equipment models we are currently working on.
  </p>
  <div>
    <model-viewer
      id="firetruck-progress"
      alt="Fitruck Scania P124 inventory tracking"
      style="width: 100%; max-width: 800px; height: 450px; margin-left: auto; margin-right: auto"
      exposure="1"
      shadow-intensity="1"
      camera-controls
      touch-action="none"
      interpolation-decay="200"
      ar
      ar-modes="scene-viewer webxr quick-look"
      reveal="manual"
      camera-orbit="60deg 65deg 11m"
      scene-viewer
      quick-look
      poster="/posters/TP100.png"
      src="/models/TP100.glb"
    >
      <template v-for="annotation in progress.annotations" :key="annotation.id">
        <button
          :id="'hotspot-' + annotation.id"
          class="hotspot"
          :slot="'hotspot-tool-' + annotation.id"
          :data-position="annotation.dataPosition"
          :data-normal="annotation.dataNormal"
        >
          {{ annotation.id + 1 }}
          <div class="annotation" style="display: none">
            <div class="title">
              <h3>{{ annotation.title }}</h3>
              <ul>
                <li>Capture: {{ isDone(annotation.captured) }}</li>
                <li>Sketchfab: {{ isDone(annotation.sketchfab) }}</li>
                <li>Unity: {{ isDone(annotation.unity) }}</li>
                <li>Collider: {{ isDone(annotation.collider) }}</li>
                <li>Grab point: {{ isDone(annotation.grabPoint) }}</li>
              </ul>
            </div>
          </div>
        </button>
      </template>
      <div id="lazy-load-poster" :style="backgroundImage" slot="poster"></div>
      <div id="button-load" @click="loadModel()" slot="poster">Load 3D Model</div>
    </model-viewer>
  </div>
</template>
<script>
import '@google/model-viewer'
import { useProgressStore } from '@/stores/progressStore'
export default {
  name: 'truck-progress',
  data() {
    return {
      currentHotspotId: '' // id of hotspot of open annotation
    }
  },
  setup() {
    const progress = useProgressStore()
    return {
      progress
    }
  },
  mounted() {
    console.log('Mounted truck progress')
    console.log('Annotations:', this.progress.annotations)

    const modelViewer2 = document.querySelector('#firetruck-progress')
    const annotationClicked = (hotspot) => {
      console.log('clicked hotspot: ' + hotspot.id)
      const annotation = hotspot.querySelector('.annotation')
      const currentDisplay = annotation.style.display

      if (this.currentHotspotId != '' && this.currentHotspotId != hotspot.id) {
        // other annotation is open, close that one
        const currentAnnotation = document.querySelector(`#${this.currentHotspotId} .annotation`)
        currentAnnotation.style.display = 'none'
      }

      if (currentDisplay == 'none') {
        annotation.style.display = 'block'
        this.currentHotspotId = hotspot.id
      } else {
        annotation.style.display = 'none'
        this.currentHotspotId = ''
      }
    }

    modelViewer2.querySelectorAll('button').forEach((hotspot) => {
      hotspot.addEventListener('click', () => annotationClicked(hotspot))
    })

    modelViewer2.addEventListener('click', (event) => {
      if (!event.target.id.includes('hotspot')) {
        console.log('clicked somewhere', event.target.id)

        if (this.currentHotspotId != '') {
          // an annotation is open, close that one
          const currentAnnotation = document.querySelector(`#${this.currentHotspotId} .annotation`)
          currentAnnotation.style.display = 'none'
        }
        event.preventDefault()
      }
    })
  },
  methods: {
    loadModel() {
      console.log('load model')
      document.querySelector('#firetruck-progress').dismissPoster()
    },
    isDone(check) {
      if (check) {
        return '✅'
      } else {
        return '-'
      }
    }
  },
  computed: {
    backgroundImage() {
      return {
        'background-image': `url('/posters/TP100.png')`
      }
    }
  }
}
</script>

<style lang="scss">
#lazy-load-poster {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#button-load {
  background-image: url('../assets/icons/download.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 6% 50%;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 18px 9px 40px;
  font-weight: 500;
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.2),
    0 0 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
}

model-viewer::part(default-progress-bar) {
  background-color: #ff6900;
  height: 18px;
  border-radius: 0 30px 30px 0;
}

p {
  margin-bottom: 1rem;
}

.hotspot {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
  box-sizing: border-box;
  padding: 0;
  background-color: #1b1e1fab;
  cursor: pointer;
  position: absolute;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.718);
  transform: translate3d(-50%, -50%, 0);
  --min-hotspot-opacity: 0;
}

.hotspot:hover {
  background-color: #ff6900;
}

.annotation {
  background: #1b1e1fd0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: 400;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: -100%;
  width: max-content;
  min-width: 150px;
  top: 12px;
  left: 30px;
}

.annotation h3 {
  margin-bottom: 15px;
  text-align: left;
  font-weight: bold;
}

.annotation ul {
  padding-left: 20px;
  text-align: left;
  line-height: 1.4;
}

.annotation 
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

.view-button {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family:
    Futura,
    Helvetica Neue,
    sans-serif;
  font-size: 12px;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
}
</style>
