<script>
import { modelStore } from '@/stores/modelStore'
import { RouterLink } from 'vue-router'
export default {
  name: 'filter-list',
  setup() {
    const store = modelStore()
    return {
      store
    }
  },
  props: {
    filterId: {
      type: Number,
      required: false,
      default: -1
    }
  },
  components: { RouterLink }
}
</script>

<template>
  <div class="filter-list">
    <p>Filter by project:</p>
    <template v-for="project in this.store.projects" :key="project.id">
      <RouterLink @click="() => (this.store.currentModelId = -1)" :to="`/project/${project.path}`">
        <span class="project-title" :class="{ active: filterId == project.id }">
          {{ project.title }}</span
        >
      </RouterLink>
    </template>
  </div>
</template>

<style scoped>
.filter-list {
  margin-bottom: 2rem;
}

p {
  margin: 0;
  margin-right: 10px;
  float: left;
}
.project-title {
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #ff6900;
  padding: 4px;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
  background-color: unset;
  color: #ffffff;
}

.project-title:hover,
.active {
  background-color: #ff6900;
  color: #ffffff;
}
</style>
