<script>
import { modelStore } from '@/stores/modelStore'
export default {
  name: 'list-item',
  setup() {
    const store = modelStore()
    return {
      store
    }
  },
  props: {
    modelId: {
      type: Number,
      required: true
    },
    poster: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    }
  },
  methods: {
    /**
     * Returns model of given id
     * @param {*} id model id
     */
    clickModel() {
      this.store.currentModelId = this.modelId
      console.log('Model clicked: ' + this.modelId)
    }
  }
}
</script>

<template>
  <div class="item" @click="clickModel()" :class="{ active: this.store.currentModelId == modelId }">
    <h1>{{ title }}</h1>
    <div class="container" v-bind:style="{ backgroundImage: 'url(' + poster + ')' }">
      <!-- <img @click="clickModel()" :src="poster" :alt="description" /> -->
      <!-- <button class="btn" @click="clickModel()">Show model</button> -->
    </div>
  </div>
</template>

<style scoped>
.item {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-bottom: 5px solid #ff6900;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}

.item h1 {
  margin: 0;
  margin-bottom: 5px;
}

.item.active {
  border: none;
}

.item.active h1 {
  color: #ff6900;
}

p {
  font-size: 15px;
  margin-bottom: 5px;
}

.item img {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  min-height: 150px;
  max-height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000;
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.2),
    0 0 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}

.container .btn:hover {
  color: #ff6900;
}
</style>
