<!-- eslint-disable vue/no-deprecated-slot-attribute -->
<template>
  <h1 id="model-title">{{ title }}</h1>
  <p>{{ description }}</p>
  <div>
    <model-viewer
      v-if="manualReveal"
      id="lazy-load"
      :alt="description"
      style="width: 100%; max-width: 800px; height: 450px; margin-left: auto; margin-right: auto"
      exposure="1"
      shadow-intensity="1"
      camera-controls
      touch-action="pan-y"
      disable-zoom
      ar
      ar-modes="scene-viewer webxr quick-look"
      reveal="manual"
      :camera-orbit="camera"
      scene-viewer
      quick-look
      :poster="poster"
      :src="model"
    >
      <div id="lazy-load-poster" :style="backgroundImage" slot="poster"></div>
      <div id="button-load" @click="loadModel()" slot="poster">Load 3D Model</div>
    </model-viewer>

    <model-viewer
      v-if="!manualReveal"
      id="lazy-load"
      :alt="description"
      style="width: 100%; max-width: 800px; height: 450px; margin-left: auto; margin-right: auto"
      exposure="1"
      shadow-intensity="1"
      camera-controls
      touch-action="pan-y"
      disable-zoom
      ar
      ar-modes="scene-viewer webxr quick-look"
      :camera-orbit="camera"
      scene-viewer
      quick-look
      :poster="poster"
      :src="model"
    >
    </model-viewer>
  </div>
</template>
<script>
import '@google/model-viewer'
export default {
  name: 'model-viewer-component',
  props: {
    model: {
      type: String,
      required: true
    },
    poster: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    manualReveal: {
      type: Boolean,
      required: false,
      default: true
    },
    camera: {
      type: String,
      required: false,
      default: ''
    }
  },
  mounted() {
    console.log('Mounted <model-viewer>')
  },
  methods: {
    loadModel() {
      console.log('load model')
      document.querySelector('#lazy-load').dismissPoster()
    }
  },
  computed: {
    backgroundImage() {
      return {
        'background-image': `url(${this.poster})`
      }
    }
  }
}
</script>

<style lang="scss">
#lazy-load-poster {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#button-load {
  background-image: url('../assets/icons/download.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 6% 50%;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 18px 9px 40px;
  font-weight: 500;
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.2),
    0 0 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
}

model-viewer::part(default-progress-bar) {
  background-color: #ff6900;
  height: 18px;
  border-radius: 0 30px 30px 0;
}

p {
  margin-bottom: 1rem;
}
</style>
