<script>
import { modelStore } from '@/stores/modelStore'
import ModelViewerComponent from '../components/ModelViewerComponent.vue'
import ListItem from './ListItem.vue'
import FilterList from './FilterList.vue'
export default {
  name: 'model-demo',
  setup() {
    const store = modelStore()
    return {
      store
    }
  },
  components: {
    ModelViewerComponent,
    ListItem,
    FilterList
  },
  props: {
    filterId: {
      type: Number,
      required: false,
      default: -1
    }
  },
  data() {
    return {
      currentModel: undefined // current model to render in viewer
    }
  },
  mounted() {
    // take first model in array
    this.currentModel = this.getModelbyId(this.store.currentModelId)
  },
  watch: {
    'store.currentModelId'(newId, oldId) {
      if (oldId != newId) {
        console.log('Model changed to: ' + this.store.currentModelId)
        this.currentModel = this.getModelbyId(this.store.currentModelId)
        if (this.currentModel) {
          const element = document.getElementById('viewer-component')
          element.scrollIntoView()
        }
      }
    }
  },
  methods: {
    /**
     * Returns model of given id
     * @param {*} id model id
     */
    getModelbyId(id) {
      return this.store.availableModels.find((model) => model.id == id)
    }
  }
}
</script>

<template>
  <FilterList :filterId="filterId" />

  <div id="viewer-component">
    <ModelViewerComponent
      v-if="currentModel"
      :key="this.store.currentModelId"
      :poster="currentModel.poster"
      :model="currentModel.model"
      :description="currentModel.description"
      :title="currentModel.title"
      :manualReveal="false"
      :camera="currentModel.camera"
    />
  </div>

  <div class="model-list">
    <template v-for="model in this.store.availableModels" :key="model.id">
      <template v-if="!filterId || filterId >= 0">
        <!-- allow all models according to filter -->
        <ListItem
          v-if="model.projectId == filterId"
          :poster="model.poster"
          :title="model.title"
          :description="model.description"
          :modelId="model.id"
        />
      </template>
      <template v-else>
        <!-- with no filter allow only featured ones -->
        <ListItem
          v-if="model.featured"
          :poster="model.poster"
          :title="model.title"
          :description="model.description"
          :modelId="model.id"
        />
      </template>
    </template>
  </div>
</template>

<style scoped>
#viewer-component {
  margin-bottom: 2rem;
}

.model-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: space-between;
}
</style>
