<script>
import { modelStore } from '@/stores/modelStore'
import { RouterLink, RouterView } from 'vue-router'
export default {
  name: 'app',
  setup() {
    const store = modelStore()
    return {
      store
    }
  },
  components: { RouterLink, RouterView }
}
</script>

<template>
  <header>
    <RouterLink @click="() => (this.store.currentModelId = -1)" to="/">
      <img
        alt="Firefighter Vision Logo"
        class="logo"
        src="@/assets/logo.png"
        width="125"
        height="125"
    /></RouterLink>

    <div class="wrapper">
      <nav>
        <a href="https://firefightervision.com">Homepage</a>
        <RouterLink to="/">Models</RouterLink>
        <RouterLink to="/progress">Truck Progress</RouterLink>
        <RouterLink to="/about">About</RouterLink>
      </nav>
    </div>
  </header>

  <RouterView />
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
